<h1>自分の投稿ページ</h1>
<h3>記事投稿</h3>
<%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :size => 30 %>
    </div>

    <div class="area">
      <%= f.label :body%>
      <%= f.text_area :body, :size => "200×10000" %>
    </div>
    
    <%= f.submit "投稿する" %>
<% end %>

  <%= link_to "記事投稿一覧に戻る", posts_path %>
  





  <html>
  <head>
  <title>TEXTAREAみたいなスタイルシート</title>
  <style>
  <!--
  div.ScrollBox {overflow:auto;width:300px;height:50px;border:1px black solid;margin:0px}
  -->
  </style>
  <body>
  <div class="ScrollBox">
<p>
ここに、色々文章を書きます。<br>
この中は、タグによる<em>マークアップができます</em>のでお好きなように。<br>
DIV要素を大きさ固定にして、そこからはみ出すようだったら<strong>スクロールバーがでる</strong>ようにしてるだけなんですけどね。
</p>
</div>
</body>
</html>

<div contenteditable style="width: 100px;height: 100px;"></div>
  