<br>
<br>

<div class="inu">

    <%= form_for @post do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, :size => 140 %> 
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.label :body %>
        <%= f.text_area:body, :size => "200×10000" %> 
        <%= f.submit "編集する" %>
    <% end %>


</div>