<br>
<br>


<p>
  
  <%= image_tag(@post.image_url) if @post.image.present? %>
</p>
  
<div class="inu">
  <div class="post">
    <p><%= @post.title %></p>
    <p><%= @post.body %></p>
    <p><%= @post.created_at.to_s(:datetime_jp) %></p>
</div>

<br>

<div class="cat">



























  <br>
  <br>          
   
      <div class="dog-wrapper">
        <h3>コメント一覧</h3>
        <% @dogs.each do |c| %>
          <div class="hito">
            <%= c.user.email unless c.user.blank? %>
            <br>
            <%= c.content %>
          </div>
            <br>
        <% end %>
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @dog], local: true) do |f| %>
            <%= f.text_area :content, :size=>"40x5" %>
            <br>


            <%= button_tag type: "submit" do %>
              <i class="far fa-comments"></i> コメントする
            <% end %>
          <% end %>
        <% end %>
      </div>

      <br>


  <%= link_to "記事投稿一覧に戻る", posts_path %>
  
  <br>

  <%= link_to "編集する", edit_post_path(@post.id) %>
</div>
