<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <header>
  <h1>人生を幸せに生きるサイト</h1>
  <div class="header-list">
  <ul>
    <li><%= link_to "ホーム", posts_path %></li>
    <li><%= link_to "幸せ投稿", tweets_path %></li>
    <li><%= link_to "Message", messages_path %></li>
   
  </ul>
  </div>
</header>








    <%= yield %>
  </body>
</html>
